<head>
    <title> 너의 생각은 어때? </title>
</head>


<body> 
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    
    
    <h1 class = "text-center"><strong> '공모전, 너의 생각은 어때?' 페이지입니다! </strong></h1>
    <div style ="margin-left: 50px; margin-right: 50px; margin-top: 30px">
        {% if user.is_active %}
        <h4 style="display:inline; float:right;">{{user.username}} {{user.nickname}}
        <a href="{% url 'logout'%}"> logout </h4>
        {% else %}
        <h4 style="display:inline; float:right;">You are not logged in / <a href="{% url 'login' %}">login</a> <a href="{% url 'accounts:signup'%}">signup</a> </h4>
        {% endif %}
        <h4><a href="{%url 'new'%}"> Write </a> </h4>
    
        <br>
        <br>
        {% for post in posts2.all %}
        <div class="container">
            <h2 class = "text-center"><strong><a href= "post/{{post.id}}/">{{post.title}}</a></strong></h2>
            <p class = "text-center">작성자 ; {{post.author}}</p>
        </div>
    {% endfor %}
    </div>
</body>